GEMINI_API_KEY=
PORT=3001
GEMINI_MODEL="gemini-flash-lite-latest"
SUPABASE_URL=
SUPABASE_KEY=
HEADLESS=false
JSEARCH_RAPIDAPI_KEY=
REED_API_KEY=
THEIRSTACK_API_KEY=
INDEED_RAPIDAPI_KEY=
INDEED_RAPIDAPI_HOST=
